.blog-card{
    transition: 0.6s ease-in;
}
.blog-card img{
    margin-right: 1.5rem;
}
.blog-card:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .blog-card{
        margin-bottom: 2rem !important;
    }
  }