.review-section:hover .qute-img{
    opacity: 1;
}
.review-section{
    cursor: pointer;
    transition: 0.6s ease-in-out;
}
.qute-img{
    width: 50px;
    visibility: none;
    opacity: 0;
}
.testimonial .card{
    border-color:transparent;
}
.testimonial .card .card-footer{
    background: transparent;
    border: 0;
    padding: 2rem;
}
.footer-img{
    width: 40px;
}
.review-section:hover {
    transform: scale(1.12);
}
.testName{
    /* color: red !important;; */
}
@media screen and (max-width: 600px) {
    .testName{
        color:red !important;
    }
    .review-section{
        margin-bottom: 2rem;
    }
  }
