header{
    background-image: url('../../../images/chairBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:100%;
}
header::after{
    content: '';
    position: absolute;
    top:0;
    right:0;
    background-color: #3A4256;
    width:30%;
    z-index: -50;
    height: 700px;
}