.contact{
    background-image: url('../../../images/appointBg.png');
    background-repeat: no-repeat;
    z-index:1;
    position: relative;
}
.contact::after{
    position:absolute;
    content: "";;
    top:0;
    width:100%;
    height: 100%;
    background: rgb(12, 11, 27);
    opacity: .9;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    form{
        padding:2rem 5rem;
    }
  }