.about-us {
    background: url("../../images/img/banner.jpg") no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    margin-top: 88px;
    padding: 120px 0px 70px 0px;
    position: relative;
}
.overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: #223a66;
}
.about-title h2 {
    color: #223a66;
    font-size: 3rem;
    font-weight: bold;
}
.award-img {
    height: 120px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #eff0f3;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;
}
.say-about {
    position: relative;
}
.say-about:before {
    width: 48%;
    height: 100%;
    top: 0;
    left: 0px;
    position: absolute;
    content: "";
    background: url("../../images/doc/doc4.jpg") no-repeat 50% 50%;
}