.section-features {
	background-color: #fff;
	padding: 80px 0;
    margin: 7rem 0;
}
.features-img img {
    text-align: center;
    margin: 0 auto;
}
.section-features {
	background-color: #fff;
	padding: 80px 0;
}
.feature-item {
    transition: 0.6s ease-in;
}
.feature-item img {
    border-radius: 100%;
    box-shadow: 1px 6px 14px rgba(0,0,0,0.2);
    height: 115px;
    object-fit: cover;
	width: 115px;
}
.feature-item p {
    font-weight: 500;
    margin: 20px 0 0;
}