.navbar-h{
    text-decoration: none;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.stickynav {
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    background: white;
    position: fixed!important;
    width: 100%;
    z-index: 99!important;
    transition: 0.5s!important;
    color:white !important;
}
.normalnav {
    transition: 0.5s!important;
    padding: 25px 0 40px 0!important;
    margin-bottom: 2rem;
}
.textDark{
    color: black !important;
}
.textWhite{
    color: white !important;
}