.contactForm {
    padding: 1rem;
}
.contactForm input,
.contactForm textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem 0.8rem;
    border-radius: 0.3rem;
    border: 1px solid #bebebe;
    color: #000;
}
.contactForm input:focus,
.contactForm textarea:focus {
    outline: none !important;
    border: 1px solid #7054F2;
    background-color: rgb(243, 240, 255);
}
.contactForm textarea {
    height: 120px;
}