.info-icon{
    font-size: 3em;
}
.info-primary{
    /* background-color: #1CC7C1; */
    background-color: #2563EB;
}
.info-dark{
    /* background-color:#F472B6; */
    background-color:#3A4256;
}
.info-card{
    padding: 5px 5px;
}
.infos-card{
    
}
.info-container{
    box-shadow: 0px 4px 5px black;
    height:100px;
    padding:30px;
}
.info-container:hover{
    box-shadow: 0px 8px 10px black;
    transform: scaleY(1.12);

}
