DATABASE_URL=YOUR DATABASE URL
BACKEND_LIVE_URL=BACKEND LIVE URL + /api/v1/auth eg- https://EXAMPLE.COM/api/v1/auth/
BACKEND_LOCAL_URL=http://localhost:5050/api/v1/auth/
JWT=W16aQUoCDwHm8AAAAadWpqYWx6YW1hbkBERVNLVE9QLUlLNkVITkUBdfdf
PORT=5050
NODE_ENV=development
JWT_SCRET=f9Hr6v38sK2nA5xGt4wDcR7uJ1mZlP0b
JWT_EXPIRED_IN=30d
JWT_REFRESH_SECRET=f9Hr6v38sK2nA5xGt4wDcR7uJ1mZlP0b
JWT_SCRET_SALT_ROUND=10
DOCTOR_PASS=@doctor123
PATIENT_PASS=@patient
CLOUND_NAME=YOUR_CLOUD_NAME
API_KEY=YOUR_CLOUDINARY_API_KEY
API_SECRET=YOUR_CLOUDINARY_API_SECRET
EMAIL_PASS=YOUR_EMAIL_APP_PASSWORD_WITH_NO_SPACE
ADMIN_EMAIL=your_default_email@gmail.com
GMAIL_APP_EMAIL=your_email@gmail.com